<section class="devise">
	<h2>Forgot Your Password?</h2>
	
	<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post	 }) do |f| %>
	  <%= f.error_notification %>
	
	  <div class="form-inputs">
	    <%= f.input :login, placeholder: "Username or Email", label: false, :required => true, :autofocus => true %>
	  </div>
	
	  <div class="form-actions">
	    <%= f.button :submit, "Send Reset Password Instructions" %>
	  </div>
	<% end %>
	
	<%= render "devise/shared/links" %>
</section>