<%= simple_form_for(@post) do |f| %>
	<h1><%= f.input :title, label: false, placeholder: "Title here..." %></h1>
	<%= f.input :content, label: false, placeholder: "Write post here..." %>
	<%= image_tag("markdown.png", alt: "Markdown", class: "markdown") %>

	<div class="controls">
    <%= f.collection_radio_buttons :draft, [[true, "&nbsp;".html_safe], [false, "&nbsp;".html_safe]], :first, :last %>
    <%= f.input :slug, placeholder: "Slug — Leave blank to use title", label: false %>
    <%= f.button :submit, 'Save', class: "submit-btn" %>
		<%= link_to '&#171 Admin'.html_safe, root_path, class: "btn admin-controls" %>
  </div>
<% end %>
