<article class="post" id="post-<%= @post.id %>">

	<h1><%= @post.title %></h1>
	<h4>
		<span class="name"><%= link_to @post.user.name, '#' %></span>
		<span class="date"><%= @post.updated_at.strftime('%d %B %Y') %></span>
	</h4>
	
	<%= markdown(@post.content) unless @post.content.nil? %>

</article>