<% @posts.each do |post| %>

	<h2><%= link_to post.title, post %></h2>
  <h4>
  	<% unless post.user.username.nil? %>
  		<%= link_to post.user.username, '#' %>
  		on
  	<% end %>
  	<%= post.updated_at.strftime('%d %B %Y') %>
  </h4>

	<%= truncate(markdown(post.content), length: 250, separator: ' ', omission: ' ... ', escape: false) { link_to "Continue Reading", post } %>
  
  <% if post.user == current_user %>
  <p>
    <%= link_to 'Edit', edit_post_path(post) %> |
    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  </p>
  <% end %>

<% end %>