<article class="post" id="post-<%= @post.id %>">

	<h1><%= @post.title %></h1>
	<h4>
		<span class="name"><%= link_to @post.user.name, user_path(@post.user) %></span>
		<span class="date"><%= @post.updated_at.strftime('%d %B %Y') %></span>
		<% if @post.user == current_user %>
			<span><%= link_to "Edit this post?", edit_post_path(@post), class: "edit-post" %></span>
			<span><%= link_to "Delete this post?", @post, method: :delete, data: { confirm: "Are you sure?" }, class: "delete-post", remote: true %></span>
		<% end %>
	</h4>
	
	<%= markdown(@post.content) unless @post.content.nil? %>

</article>