<%= simple_form_for(@post) do |f| %>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.button :submit, 'Save' %>
<% end %>

<ul>
	<h2>Ideas</h2>
	<%= render partial: 'li', collection: @drafts %>
</ul>

<hr>

<ul>
	<h2>Published</h2>
	<%= render partial: 'li', collection: @published %>
</ul>