<h1>Edit</h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Delete', @post, method: :delete, data: { confirm: "Are you sure?" } %> |
<% if @post.draft == true %>
	<%= link_to 'Cancel', admin_path %>
<% else %>
	<%= link_to 'Cancel', root_path %> 
<% end %>
