<h1>Editing <%= @post.title %></h1>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Delete', @post, method: :delete, data: { confirm: "Are you sure?" } %> |
<%= link_to 'Back', root_path %> 
