<header>
	<nav>
		<ul>
			<li><%= link_to "Blog1", root_path %></li>
			<% if user_signed_in? %>
				<li><%= link_to "Admin", admin_path %></li>
		</ul>
	</nav>
	<ul class="profile">
		<li><%= link_to "Profile", 'javascript:void(0)' %>
			<ul class="profile_links">
				<li><%= link_to "View Profile", 'javascript:void(0)' %></li>
				<li><%= link_to "Edit Account", edit_user_registration_path %></li>
				<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
			</ul>
		</li>
	</ul>
	<% else %>
</nav>
	<ul class="login">
		<li><%= link_to 'Login', new_user_session_path %> </li>
		<li><%= link_to 'Sign Up', new_user_registration_path %></li>
	</ul>
	<% end %>	
</header>